*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

p{
    color: rgb(245, 245, 245);
    font-size: 17px;

}

.blockquote{
    color: rgb(245, 245, 245);
}



h2{
    color: rgb(245, 245, 245);
    font-size: 30px;
}

h3{
    color:rgb(245, 245, 245)
}

h4{
    color: rgb(245, 245, 245);
    font-size: 20;
}



.articleo{

    background-color: rgb(44, 43, 43);

}

.resaltado{
    color:yellow;
}

#Blog_del_Dragon{
    font-size: 3rem;
    text-align: center;
    color: orangered;

}

#Blog_Cuadratico{
    font-size: 3rem;
    text-align: center;
    color: green;
}
figcaption{
    color: rgb(245, 245, 245);
}

cite{
    color: rgb(245, 245, 245);
}

span{
    color: rgb(245, 245, 245);
}

.articleo{
    border-block-end: 1px solid rgb(245, 245, 245);
    border-left: 1.5px;
    padding: 1.5rem;
}

.video{
    color: rgb(245, 245, 245);
    background-color: rgb(44, 43, 43);
}

.ilustracion {
    border: 4px solid rgb(245, 245, 245);
    display: inline-block;

}

.ilustracion figcaption{
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

#footer_blog{
    margin: 2 rem;
}

nav>ul>li>a{
    text-decoration: none;
    color: orange;
}

nav>ul>li{
    list-style: none;
}

li{
    color: white
}

article{
    background-color: rgb(44, 43, 43);
}