*{
    box-sizing: border-box;
}

/*  Clases generales */
body {
    background-color: black;
    color: white;

}

.articleo {
    background-color: rgb(44, 43, 43);
    border-block-end: 1px solid rgb(245, 245, 245);
    border-left: 1.5px;
    padding: 1.5rem;

    
}



#Blog_del_Dragon{
    font-size: 3rem;
    text-align: center;
    color: orangered;


}

#Blog_Cuadratico{
    font-size: 3rem;
    text-align: center;
    color: green;


}

/* Terminan clases generales  */

/* barra de navegación */

.resaltado {
    color:yellow;
    
}

nav>ul>li {

    list-style: none;

}

nav>ul>li>a {

    text-decoration: none;
    color: orange;
}

/* fin barra de navegación */

/* footer del blog */
#footer_blog {

    margin: 2 rem;
    
}




/* fin del footer del blog */

/* ilustraciones */

.ilustracion {
    border: 4px solid rgb(245, 245, 245);
    display: inline-block;



}

.ilustracion figcaption {
    background-color: rgb(44, 43, 43);
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;

 
}

/* fin ilustraciones */

/*Comienza grid */

section{

     /* despliégate como  grid */
     display: grid;
     /* Crea 12 columnas cada una de una fracción usando la función repeat*/
     grid-template-columns: repeat(12, 1fr);
     /* deja que las filas(renglones) ocupen el alto que necesitan */
     grid-auto-rows: auto;
     /* añade un espacio entre los elementos del grid de 3rem */
     gap: 3rem;

}

/* Termina grid */


section>header {

    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

section>header>main {

    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(8, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

section>header>main>aside {

    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(4, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

section>header>main>aside>footer {

    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}